<template>
    <div class="container container-post">       
        <div class="row">
            <div class="col-md-12">
                <h2>Publicaciones <button type="button" class="btn btn-primary" @click="resetear(true);"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Agregar post</button></h2>
                
                <br>
                <br>
                <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Status</th>
                                <th scope="col">Fecha de Publicación</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in listaPost" :key="index"> 
                                <td>{{ item.title }}<br><span class="text-primary icon_t"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{item.likes.length}}</span>
                                        <span class="text-danger icon_t"><i class="fa fa-comment-o" aria-hidden="true"></i> {{item.comentarios.length}}</span></td>
                                <td v-text="item.status"></td>
                                <td v-text="item.publication_date"></td>
                                <td>                                    
                                    <a v-if="item.status != 'rechazado' && item.user_id == user_id"  nohref  class="btn text-warning" title="Editar" @click="buscarPost(index)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>                                    
                                    <a nohref class="btn text-danger"  title="Borrar" @click="eliminarPost(item.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <a v-if="rol_ser == 'admin' && item.status != 'publicar'" nohref  class="btn text-success" title="Aprobar" @click="AprobarPost(item.id)">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </a>                                    
                                    <a v-if="rol_ser == 'admin' && item.status != 'publicar' && item.status != 'rechazado'" nohref class="btn text-danger"  title="Rechazar" @click="RechazarPost(item.id)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                    <a :href="'./vista-previa/' + item.id" class="btn text-info"  title="Vista previa" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

        
            <!--div modal-->
            <div v-if="showModal">
                    <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{  titulo_modal }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" @click="showModal = false">&times;</span>
                                </button>
                            </div>
                            <form id="formPost" @submit.prevent="guardarPost">
                                <div class="modal-body">
                                    
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                            <label>Título</label>
                                            <input v-model="titulo" type="text" class="form-control" required>

                                            <label for="estado_publicacion">Estado de la publicación</label>
                                            <select class="form-control" id="estado_publicacion" v-model="estado_publicacion" required>
                                                <option value="borrador">Borrador</option>
                                                <option value="publicar">Publicar</option>
                                            </select>

                                            <label for="fotoPrincipal">Imagen principal</label>
                                            <input type="file" ref="inputFile" class="form-control-file" id="fotoPrincipal" v-on:change="selectFoto" accept="image/*">
                                            <img :src="img_preview" class="img_preview" v-if="img_preview != ''">                                          
                                            
                                            </div>
                                             <div class="col-md-6">
                                                 <label>Contenido</label>
                                                <vue-editor v-model="cuerpo" id="editor1"></vue-editor>
                                              </div>   
                                        </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" v-if="update == 0" class="btn btn-success">Guardar</button>                    
                                    <button type="button" v-if="update" @click="editarPost()" class="btn btn-warning">Editar</button>                    
                                    <button type="button" @click="resetear(false)" class="btn">Cancelar</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </transition>
            </div><!--Fin div modal-->
    </div>
</template>
<script>
import axios from 'axios';
import { VueEditor } from "vue2-editor";
    export default {
        components: {
            VueEditor
        },
        props:['rol_ser', 'user_id'],
        data(){
            return{
                id : "",
                titulo:"", 
                cuerpo:"",
                estado_publicacion: "",
                fecha_publicacion: "",  
                imagen_principal:"", 
                img_preview: '',
                update:false,                           
                listaPost:[], 
                titulo_modal : "Nuevo post",
                showModal: false,
            }
        },
        methods:{
            cargarPosts(){
                let comp =this;
                let url = './posts';
                axios.get(url).then(function (response) {
                    comp.listaPost = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            guardarPost(){
                let comp =this;
                let url = './post/guardar';
                let post = new  FormData();
                let res = '';

                post.append('titulo', this.titulo);
                post.append('cuerpo', this.cuerpo);
                post.append('imagen_principal', this.imagen_principal);
                post.append('estado_publicacion', this.estado_publicacion);

                axios.post(url,post).then(function (response) {
                    res = response.data;
                    if(res.status){
                        comp.cargarPosts();
                        comp.resetear(false);
                        alert("Post guardado.");
                   }else
                        alert("Error al intentar guardar el post, intentá de nuevo.");
                    
                })
                .catch(function (error) {
                    console.log(error);
                });   
                
            },
            editarPost(){
                let comp = this;
                let url = './post/editar';
                let data = '';
                let post = new  FormData();
                
                post.append('id', this.id);
                post.append('titulo', this.titulo);
                post.append('cuerpo', this.cuerpo);
                post.append('imagen_principal', this.imagen_principal);
                post.append('estado_publicacion', this.estado_publicacion);
                

                axios.post(url,post).then(function (response) {
                   data = response.data;
                   if(data.status){
                        comp.cargarPosts();
                        comp.resetear(false);
                         alert("Post guardado.");
                   }else
                        alert("Error al intentar guardar el post, intentá de nuevo.");
                   
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            buscarPost(index){ 
                let comp =this;                
                comp.id = comp.listaPost[index].id;
                comp.titulo= comp.listaPost[index].title;
                comp.cuerpo= comp.listaPost[index].body;
                comp.img_preview= './img/post/'+  comp.listaPost[index].id +'/' + comp.listaPost[index].main_image;
                comp.estado_publicacion = comp.listaPost[index].status;
                comp.titulo_modal = "Editar post";
                comp.update = true;
                comp.showModal= true;

            },
            eliminarPost(post_id){
                let comp =this;
                let data = '';
                
                if (confirm('¿Seguro que deseas borrar este post?')) {
                    axios.post('./post/eliminar', {id : post_id}).then(function (response) {
                        data = response.data;
                        if(data.status){
                                comp.cargarPosts();
                                alert("Post eliminado.");
                        }else
                                alert("Error al intentar eliminar el post, intentá de nuevo.");
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); 
                }
            },
            resetear(bool){
                this.showModal=bool;
                this.id = "";
                this.titulo = "";
                this.cuerpo = "";
                this.estado_publicacion = "";
                this.imagen_principal = "";
                this.fecha_publicacion = "";
                this.img_preview = "";
                this.update = false;               
                this.titulo_modal= "Nuevo post";
                this.$refs.inputFile.value = '';
               
            },
            selectFoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.imagen_principal = event.target.files[0];
                this.vistaPrevia(files[0]);
            },
            vistaPrevia(file) {
                let reader = new FileReader();
                let comp = this;
                reader.onload = (e) => {
                    comp.img_preview = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            RechazarPost(post_id){
                let comp =this;
                let data = '';
                
                if (confirm('¿Seguro que quieres rechazar este post?')) {
                    axios.post('./post/rechazar', {id : post_id}).then(function (response) {
                        data = response.data;
                        if(data.status){
                                comp.cargarPosts();
                                alert("Post rechazado.");
                        }else
                                alert("Error al intentar rechazar el post, intentá de nuevo.");
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); 
                }
            },
            AprobarPost(post_id){
                let comp =this;
                let data = '';
                
                if (confirm('Se procederá a aprobar el post.')) {
                    axios.post('./post/aprobar', {id : post_id}).then(function (response) {
                        data = response.data;
                        if(data.status){
                                comp.cargarPosts();
                                alert("Post publicado.");
                        }else
                                alert("Error al intentar publicar el post, intentá de nuevo.");
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); 
                }
            },

        },
        mounted() {
          this.cargarPosts();
        }
    }
</script>
<style>
.img_preview{
    width: auto;
    display: block;
    height: 85px;
    border: 1px solid #555;
    margin: 10px 5px;
}
label{
    font-weight: 600;
}
.quillWrapper{
    background-color: #fff;
}
button.ql-image{
    display: none !important;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
#editor1{
    height: 270px !important;
}
</style>