<template>
    <div class="container container-post">          
        <h2>Mi perfil</h2>        
        <form id="formPost" @submit.prevent="guardarPost">
            <div class="form-group row">
                <div class="col-md-6">
                <label>Nombre</label>
                <input v-model="nombre" type="text" class="form-control" required>
                <label>Apellido</label>
                <input v-model="apellido" type="text" class="form-control" required>    
                
                <label for="fotoPrincipal">Foto</label>
                <input type="file" ref="inputFile" class="form-control-file" id="fotoPrincipal" v-on:change="selectFoto" accept="image/*">                                                       
                <hr>
                <button type="button" @click="editar()" class="btn btn-warning">Editar</button>
                </div>
                <div class="col-md-6">
                    <label>Foto (vista previa) </label> 
                        <img v-if="img_preview != null" :src="img_preview" class="img_preview">                               
                </div> 
            </div>               
        </form>
     
    </div>
</template>
<script>
import axios from 'axios';
    export default {
        props:['array_user'],
        data(){
            return{
                info: [],
                nombre: '',
                apellido: '',
                foto:"", 
                img_preview: '',
            }
        },
        methods:{
            editar(){
                let comp =this;
                let url = './mi-perfil/editar';

                let user = new  FormData();
                let res = '';
                user.append('id', this.info.id);
                user.append('nombre', this.nombre);
                user.append('apellido', this.apellido);
                user.append('foto', this.foto);

                axios.post(url , user).then(function (res) {
                    res = res.data;
                    if(res.status){
                        alert("Cambios Guardados");
                   }else
                        alert("Error al intentar guardar los cambios, intentá de nuevo.");
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectFoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.foto = event.target.files[0];
                this.vistaPrevia(files[0]);
            },
            vistaPrevia(file) {
                let reader = new FileReader();
                let comp = this;
                reader.onload = (e) => {
                    comp.img_preview = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        },
        mounted() {
          this.info = eval(this.array_user)[0];
          this.nombre = this.info.name;
          this.apellido = this.info.surname;
          if(this.info.pic != null)
            this.img_preview = './img/usuario/' + this.info.id + '/' + this.info.pic;
          else
            this.img_preview = this.info.pic;
        }
          
    }
</script>
