<template>
    <div class="container container-post">
            
        <div class="row">
            <div class="col-md-6" v-for="(item, index) in listaPost" :key="index"> 
                <h2>{{ item.title }}</h2>
                    <img v-if="item.main_image != '' && item.main_image != 'sin_img.png'" :src="'./img/post/'+ item.id +'/' + item.main_image" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    <em>Publicado por {{item.user.name}} el {{item.publication_date}}
                        <span class="text-primary icon_t"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{item.likes.length}}</span>
                        <span class="text-danger icon_t"><i class="fa fa-comment-o" aria-hidden="true"></i> {{item.comentarios.length}}</span>
                    </em>
                    
                    <article v-html="item.body"></article>
                    <a class="btn btn-success pull-right" :href="'./post/' + item.id">Leer</a>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
    export default {
        data(){
            return{                                        
                listaPost:[], 
                showModal: false,
            }
        },
        methods:{
            cargarPublicaciones(){
                let comp =this;
                let url = './listar-publicaciones';
                axios.get(url).then(function (response) {
                    comp.listaPost = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
        },
        mounted() {
          this.cargarPublicaciones();
        }
    }
</script>
<style scoped>
article{
    white-space: nowrap;
    height: 30px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.icon_t{
    margin-left: 15px;
}
</style>