<template>
    <div class="container container-post">          
        <h1>{{ info.title }} <span v-if="vista_previa">(VISTA PREVIA DE POST)</span></h1>
        <img v-if="info.main_image != '' && info.main_image != 'sin_img.png'" :src="'/img/post/'+ info.id +'/' + info.main_image" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail"><br>
        <em>Publicado por {{info.user.name}} el {{info.publication_date}}
            <span class="text-primary icon_t"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{info.likes.length}}</span>
            <span class="text-danger icon_t"><i class="fa fa-comment-o" aria-hidden="true"></i> {{info.comentarios.length}}</span>
        </em>
        <br><br>
        <article v-html="info.body"></article>
        <h2 v-if="show_btn_like && !vista_previa">Si te gusto, dale Me Gusta  <button type="button" class="btn btn-warning" @click="meGusta"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button></h2>
        <br><h2><i class="fa fa-comment-o" aria-hidden="true"></i> Comentarios  <button v-if="!vista_previa" type="button" class="btn btn-primary" @click="resetear(true);"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Comentar</button></h2>
        <br>
        <div class="comentarios_list row" v-if="listComentarios.length">
            <table style="width:1000%;">
                <tr v-for="item in listComentarios" :key="item.id">
                    <th style="width:15%;">
                        <img v-if="item.user.pic == null" src="/img/user_default.png"  style="width:100%;">
                        <img v-if="item.user.pic != null" :src="'/img/usuario/' + item.user.id + '/' + item.user.pic"  style="width:100%;">
                    </th>
                    <th style="width:85%;">
                        <strong>{{ item.user.name }} {{ item.user.surname }}</strong> / {{ item.created_at }}
                        <div class="alert alert-info" role="alert">
                            {{ item.comment }}
                        </div>
                    </th>
                </tr>
            </table>            
        </div>
            <!--div modal-->
            <div v-if="showModal">
                    <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Añadir comentario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" @click="showModal = false">&times;</span>
                                </button>
                            </div>
                            <form id="formPost" @submit.prevent="guardarComentario">
                                <div class="modal-body">                                    
                                   <textarea v-model="comentario" class="form-control"></textarea>                                         
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Comentar</button>
                                    <button type="button" @click="resetear(false)" class="btn">Cancelar</button>
                                </div>  
                            </form>                          
                            </div>
                        </div>
                        </div>
                    </div>
                    </transition>
            </div><!--Fin div modal-->
    </div>
</template>
<script>
import axios from 'axios';
    export default {
        props:['array_post' , 'user_id' , 'vista_previa'],
        data(){
            return{                                        
                listaPost:[], 
                showModal: false,
                info: [],
                comentario: '',
                show_btn_like : true,
                listComentarios: []
            }
        },
        methods:{
            cargarPublicaciones(){
                let comp =this;
                let url = './listar-publicaciones';
                axios.get(url).then(function (response) {
                    comp.listaPost = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            guardarComentario(){
                let comp =this;
                let url = './comentario/guardar';
                let res = '';

                axios.post(url,{
                    post_id : comp.info.id,
                    user_id : comp.info.user.id,
                    comentario : comp.comentario
                }).then(function (response) {
                    res = response.data;
                    if(res.status){
                        comp.info.comentarios = res.array;                        
                        comp.resetear(false);
                        alert("Comentario publicado.");
                        comp.cargarComentarios();
                   }else
                        alert("Error al intentar comentar el post, intentá de nuevo.");
                    
                })
                .catch(function (error) {
                    console.log(error);
                });   
                
            },
            resetear(bool){
                this.comentario = '';
                if(bool){
                    if(this.user_id  == 0){
                        alert("Inicia sesión para poder comentar!");
                    }else
                        this.showModal = bool;
                }else{
                    this.showModal = bool;
                }
                
            },
            meGusta(){
                if(this.user_id == 0){
                        alert("Inicia sesión para poder comentar!");
                }else{
                    let comp =this;
                    let url = './me-gusta/guardar';
                    let res = '';
                    axios.post(url,{
                        post_id : comp.info.id,
                        user_id : comp.info.user.id
                    }).then(function (response) {
                        res = response.data;
                        if(res.status){
                            comp.info.likes = res.array;
                            comp.show_btn_like= false;
                        }else
                            alert("Error al intentar comentar el post, intentá de nuevo.");
                    
                    })
                    .catch(function (error) {
                        console.log(error);
                    });   
                }
            },
            cargarComentarios(){
                 let comp =this;
                let url = './comentarios/listar/' + comp.info.id;
                let res = '';
                axios.get(url).then(function (response) {
                    comp.listComentarios = response.data;                        
                
                })
                .catch(function (error) {
                    console.log(error);
                });   
            }

        },
        mounted() {
          this.info = eval(this.array_post)[0];
          console.log();
          let array_like = 0;
          if(this.user_id != 0){
              for(let i=0; i < this.info.likes.length ; i++){
                  array_like = this.info.likes[i];
                  if(array_like.user_id == this.user_id){
                      this.show_btn_like = false;
                  }
              }
          }
        if(!this.vista_previa)
            this.cargarComentarios();
        }
    }
</script>
